{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browser": ["last 2 versions"]
        }
      }
    ],
    "stage-3",
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@root": "./src"
        }
      }
    ],
    "transform-class-properties"
  ]
}
